@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.poetsen-one-regular {
  font-family: 'Poetsen One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Layout */
.root-layout header {
  background-color: darkblue;
  padding: 5px 0px;
}

.root-layout header a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  padding: auto;
  padding: 5px;
}

.root-layout header a:hover {
  border-bottom: 2px solid white;
  scale: 0.95;
}

.headerNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
}

.isLogged {
  grid-template-columns: 1fr;
}
.root-layout .headerNav .loginSignup {
  display: flex;
  /* margin-left: auto; */
  justify-content: center;
}

.loginSignup a {
  flex-grow: 1;
  text-align: center;
}

.root-layout .headerNav .homeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBtn a {
  text-align: center;
  flex-grow: 1;
}
