.app {
  background-color: #0f172a;
  color: white;
  height: max-content;
  min-height: 100vh;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
