@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Jersey+25+Charted&family=Poetsen+One&display=swap');
* {
  padding: 0;
  margin: 0;
}

/* fonts */

.arabic-text-font {
  font-family: 'Cairo', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.paragraph-title-font {
  font-family: 'Jersey 25 Charted', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.postCard {
  border: 1px solid black;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  gap: 5px;
}
.postCard a {
  color: black;
  text-decoration: none;
}
.postTitle {
  margin-left: 5px;
  font-size: 1.5em;
  border-bottom: 1px solid darkgrey;
}

.postDesc {
  margin-left: 5px;
}

.subDetails {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}
