@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.spinner {
  display: block;
  width: max-content;
  scale: 4;
  margin: auto;
  color: rgb(53, 51, 51);
  animation: spin 1000ms linear infinite;
}
.spinner svg {
  display: block;
}
